[Unit]
Description=Nextcould Talk Jitsi Bot
After=nginx.service apache.service

[Service]
User=http
Environment="BOT_NEXTCLOUD_URL=https://your.nextcloud.org:8443"
Environment="BOT_NEXTCLOUD_USERNAME=jitsibot"
Environment="BOT_NEXTCLOUD_PASSWORD=password"
Environment="BOT_DB_LOCATION=/run/nextcloud-talk-jitsi-bot"
Environment="BOT_JITSI_URL=https://meet.jit.si"
RuntimeDirectory=nextcloud-talk--jitsi-bot
RuntimeDirectoryMode=750

Type=simple
# oneshot
ExecStart=/usr/bin/nextcloud-talk-jitsi-bot

[Install]
WantedBy=multi-user.target
